<% include header.ejs %>
<body id="admin">
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="#">FreeSlot</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="/">Home</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/login">Login</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/signup">Register</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/admin/forgot-password">Forgot Password</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Club/Chapter/Team Portal</h1>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <p>Login or Register</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Registered Club/Chapter/Team's Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Register Your Club/Chapter/Team</a>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>
