  <% include header.ejs %>
<body id="page-top" data-spy="scroll" data-target="navbar-fixed-top">
  <% include navbar.ejs %>
        <div class="container content-section text-center">
            <h3><a href="#" data-toggle="modal" data-target=".instructions">Read Instructions on How to Use</a></h3>
            <hr>
          </div>
          <div class=" dropdown container">
            <p>
              Select Day of the week:
            </p>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Select Day
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu container" aria-labelledby="dropdownMenu1">
              <li><a id="Monday" onclick="SelectDay(this.id)" href="#">Monday</a></li>
              <li><a id="Tuesday" onclick="SelectDay(this.id)" href="#">Tuesday</a></li>
              <li><a id="Wednesday" onclick="SelectDay(this.id)" href="#">Wedensday</a></li>
              <li><a id="Thursday" onclick="SelectDay(this.id)" href="#">Thursday</a></li>
              <li><a id="Friday" onclick="SelectDay(this.id)" href="#">Friday</a></li>
            </ul><strong><span id="Selected"></span></strong>
          </div>
          <div class="container"><ul id="livesearch" class="container"><h2>Result Will Appear Here</h2></ul></div>
        <div class="container text-center">
        <h3>Building Slot TimeTable:</h3>
            <div id="TT">
              <p class="container"><% include timetable.ejs %></p>
            </div>
        </div>
        <div class="modal fade instructions" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Instructions</h4>
              </div>
              <div class="modal-body">
                <p>
                  <ol>
                    <li>Select The Day of The Week From the DropDown Menu.</li>
                    <li>Click on The Required Slot in Building Timetable.</li>
                    <li>If Any student is free in that slot, Then their name will appear in a list.</li>
                    <li>Click on the Name and The name will get Appended to the Selected slot in Timetable.</li>
                    <li>You can add maximum of 2 students in a slot.</li>
                    <li>If you want to delete the current Allotment then Click on that slot again.</li>
                  </ol>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <% include footer.ejs %>
    </body>
