<% include header.ejs %>
<body>
	<% include navbar.ejs %>
<div class="container">
	<div class="page-header text-center">
		<h1><strong><%= user.local.club %>'s</strong> Admin Panel</h1>
	</div>
</div>
	<div class="row">
		<div class="container">
			<div class="well">
					<div class="modal-body row">
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <form id="changepassForm" method="post">
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control" name="current" required>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input id="new" type="password" class="form-control" name="new" required>
                </div>
                <div class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control" name="confirm" required>
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Change  Password</button>
            </form>
					</div>
			</div>
		</div>
	</div>
  <script type="text/javascript">


  </script>
	<% include footer.ejs %>
</body>
</html>
