<div class="container visible-sm-inline visible-xs-inline" id="DisTT">
    <div class="row">
        <div class="TimeTable1">
            <table cellspacing=0 cellpadding=2 border="1" width="100%" bordercolor="black">
                <tr align=center>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>THEORY HOURS</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>08:00AM<br>to<br>08:50AM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>09:00AM<br>to<br>09:50AM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>10:00AM<br>to<br>10:50AM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>11:00AM<br>to<br>11:50AM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>12:00AM<br>to<br>12:50PM</b></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Monday</b></td>
                    <td id="1" value="1" bgcolor="green">Class</td>
                    <td id="2" value="2" bgcolor="green">Class</td>
                    <td id="3" value="3" bgcolor="green">Class</td>
                    <td id="4" value="4" bgcolor="green">Class</td>
                    <td id="5" value="5" bgcolor="green">Class</td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Tuesday</b></td>
                    <td id="7" value="7" bgcolor="green">Class</td>
                    <td id="8" value="8" bgcolor="green">Class</td>
                    <td id="9" value="9" bgcolor="green">Class</td>
                    <td id="10" value="10" bgcolor="green">Class</td>
                    <td id="11" value="11" bgcolor="green">Class</td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Wednesday</b></td>
                    <td id="13" value="13" bgcolor="green">Class</td>
                    <td id="14" value="14" bgcolor="green">Class</td>
                    <td id="15" value="15" bgcolor="green">Class</td>
                    <td id="16" value="16" bgcolor="green">Class</td>
                    <td id="17" value="17" bgcolor="green">Class</td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Thursday</b></td>
                    <td id="19" value="19" bgcolor="green">Class</td>
                    <td id="20" value="20" bgcolor="green">Class</td>
                    <td id="21" value="21" bgcolor="green">Class</td>
                    <td id="22" value="22" bgcolor="green">Class</td>
                    <td id="23" value="23" bgcolor="green">Class</td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Friday</b></td>
                    <td id="25" value="25" bgcolor="green">Class</td>
                    <td id="26" value="26" bgcolor="green">Class</td>
                    <td id="27" value="27" bgcolor="green">Class</td>
                    <td id="28" value="28" bgcolor="green">Class</td>
                    <td id="29" value="29" bgcolor="green">Class</td>
                </tr>
            </table>
        </div>

        <div class="TimeTable2">
            <table cellspacing=0 cellpadding=2 border="1" width="100%" bordercolor="black">
                <tr align=center>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>THEORY HOURS</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>02:00PM<br>to<br>02:50PM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>03:00PM<br>to<br>03:50PM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>04:00PM<br>to<br>04:50PM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>05:00PM<br>to<br>05:50PM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>06:00PM<br>to<br>06:50PM</b></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Monday</b></td>
                    <td id="31" value="31" bgcolor="green">Class</td>
                    <td id="32" value="32" bgcolor="green">Class</td>
                    <td id="33" value="33" bgcolor="green">Class</td>
                    <td id="34" value="34" bgcolor="green">Class</td>
                    <td id="35" value="35" bgcolor="green">Class</td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Tuesday</b></td>
                    <td id="37" value="31" bgcolor="green">Class</td>
                    <td id="38" value="32" bgcolor="green">Class</td>
                    <td id="39" value="33" bgcolor="green">Class</td>
                    <td id="40" value="34" bgcolor="green">Class</td>
                    <td id="41" value="35" bgcolor="green">Class</td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Wednesday</b></td>
                    <td id="43" value="31" bgcolor="green">Class</td>
                    <td id="44" value="32" bgcolor="green">Class</td>
                    <td id="45" value="33" bgcolor="green">Class</td>
                    <td id="46" value="34" bgcolor="green">Class</td>
                    <td id="47" value="35" bgcolor="green">Class</td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Thursday</b></td>
                    <td id="49" value="31" bgcolor="green">Class</td>
                    <td id="50" value="32" bgcolor="green">Class</td>
                    <td id="51" value="33" bgcolor="green">Class</td>
                    <td id="52" value="34" bgcolor="green">Class</td>
                    <td id="53" value="35" bgcolor="green">Class</td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Friday</b></td>
                    <td id="55" value="31" bgcolor="green">Class</td>
                    <td id="56" value="32" bgcolor="green">Class</td>
                    <td id="57" value="33" bgcolor="green">Class</td>
                    <td id="58" value="34" bgcolor="green">Class</td>
                    <td id="59" value="35" bgcolor="green">Class</td>
                </tr>
            </table>
        </div>
    </div>
</div>
