<% include header.ejs %>
<body id="admin">
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Hello VITian!!</h1>
    <% if (name.length > 0) { %>
    <h2>You are Updating your TimeTable data for <span class="alert-danger"><%= name %></span></h2>
    <% } %>
    <h3>Please use your Parent's Login Credentials.</h3>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label>Register No</label>
            <input type="text" class="form-control" name="registerNo"  maxlength="10" data-error="Invalid Register No." required>
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input type="password" class="form-control" name="DOB" required>
        </div>
        <div class="form-group">
            <label>Guardian's Phone No</label>
            <input type="password" class="form-control" name="phoneNo" required>
        </div>
        <div class="g-recaptcha" data-sitekey="6Lfq6ygTAAAAACoOK48Fj8F2ScWZXlgTzvKoCFaE"></div>
        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>
    <hr>
</div>
</div>
<% include footer.ejs %>
</body>
</html>
