<% include header.ejs %>
<body>
	<% include navbar.ejs %>
<div class="container">
	<div class="page-header text-center">
		<h1><strong><%= user.local.club %>'s</strong> Admin Panel</h1>
		<h1><span class="glyphicon glyphicon-home"></span>  Welcome <strong><%= user.local.name %></strong></h1>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="well">
					<div class="modal-body row">
						<div class="col-md-8">
							<p>
								List of your Club/Chapter's students who have updated their Timetable.
							</p>
							<ol>
								<% students.forEach(function(student) { %>
									<li><%= student.name %></li>
									<% }); %>
							</ol>

						</div>
  					<div class="col-md-4">
								<h3><span class="glyphicon glyphicon-wrench"></span> Actions</h3>
								<p>
									<a href="/admin/allot" class="btn btn-default" role="button">Desk Duties</a>
							</p>
							<p>
								<a href="/admin/find-free" class="btn btn-default" role="button">Find Who's Free</a>
							</p>
							<p>
								<a href="/admin/display" class="btn btn-default" role="button">Display Timetables</a>
							</p>
							<p>
								<a href="/admin/delete" class="btn btn-default" role="button">Delete Data</a>
							</p>
						</div>
					</div>
			</div>
		</div>
	</div>
	<% include footer.ejs %>
</body>
</html>
