<% include header.ejs %>
<body>
<div class="container">
<div class="text-center">
    <h1><span class="fa fa-sign-in"></span> Hello VITian!!</h1>
    <h2>Welcome To FreeSlot Web Application.</h2>
    <h3>This Application is developed exclusively for Clubs/Chapters/Teams of Vellore Institute of technology.<hr>
    Here Core Members of Clubs/Chapters/Teams can update their TimeTable using their Parent's Login Detail. <strong>Don't Worry Your Password Will Not Be Saved.</strong>
    </h3>
    <h3>A Representative of Each Club/Chapter/Team Can register Their Club here and access the Timetable data of their members.</h3>
</div>
<div>
    <h1>Features Include:</h1>
    <ul>
      <li><h3>Automatic Updation of TimeTable when a student Logs in</h3></li>
      <li><h3>Admins of Each club can See who has uploaded the TimeTable in from their Club</h3></li>
      <li><h3>Admins Can alot FreeSlots on a TimeTable for all the academic Block</h3></li>
    </ul>
    <hr>
</div>
<div class="text-center">
<h1>Register or Log into Your Club Here.</h1>
<a href="/admin" class="btn btn-default" role="button">Register</a>
</div>
</div>
<% include footer.ejs %>
</body>
</html>
