<% include header.ejs %>
<body id="admin">
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Club/Chapter Portal</h1>

        <p>Login or Register</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Registered Club/Chapter's Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Register Your Club/Chapter</a>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>
