<table cellspacing=0 cellpadding=2 border="1" width="100%" style="border-collapse: collapse" bordercolor="black">
		<tr align=center>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>THEORY HOURS</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>08:00AM<br>to<br>08:50AM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>09:00AM<br>to<br>09:50AM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>10:00AM<br>to<br>10:50AM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>11:00AM<br>to<br>11:50AM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>12:00AM<br>to<br>12:50PM</b></td>
		    <td width="10" rowspan="8" bgcolor="#E0E0E0"><b>L<br>U<br>N<br>C<br>H</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>02:00PM<br>to<br>02:50PM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>03:00PM<br>to<br>03:50PM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>04:00PM<br>to<br>04:50PM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>05:00PM<br>to<br>05:50PM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>06:00PM<br>to<br>06:50PM</b></td>
		</tr>

		<tr height="50">
		    <td align=center bgcolor="#E0E0E0"><b>MON</b></td>
		    <td bgcolor="#F5F5F5">1</td>
		    <td bgcolor="#F5F5F5">2</td>
		    <td bgcolor="#F5F5F5">3</td>
		    <td bgcolor="#F5F5F5">4</td>
		    <td bgcolor="#F5F5F5">5</td>
		    <td bgcolor="#F5F5F5">31</td>
			<td bgcolor="#F5F5F5">32</td>
			<td bgcolor="#F5F5F5">33</td>
			<td bgcolor="#F5F5F5">34</td>
			<td bgcolor="#F5F5F5">35</td>
		</tr>

		<tr height="50">
		    <td align=center bgcolor="#E0E0E0"><b>TUES</b></td>
		    <td bgcolor="#F5F5F5">7</td>
		    <td bgcolor="#F5F5F5">8</td>
		    <td bgcolor="#F5F5F5">9</td>
		    <td bgcolor="#F5F5F5">10</td>
		    <td bgcolor="#F5F5F5">11</td>
		    <td bgcolor="#F5F5F5">37</td>
			<td bgcolor="#F5F5F5">38</td>
			<td bgcolor="#F5F5F5">39</td>
			<td bgcolor="#F5F5F5">40</td>
			<td bgcolor="#F5F5F5">41</td>
		</tr>

		<tr height="50">
		    <td align=center bgcolor="#E0E0E0"><b>WED</b></td>
		    <td bgcolor="#F5F5F5">13</td>
		    <td bgcolor="#F5F5F5">14</td>
		    <td bgcolor="#F5F5F5">15</td>
		    <td align=center bgcolor="#E0E0E0" colspan="2"><b>Seminar/ Meeting</b></td>
		    <td bgcolor="#F5F5F5">43</td>
			<td bgcolor="#F5F5F5">44</td>
			<td bgcolor="#F5F5F5">45</td>
			<td bgcolor="#F5F5F5">46</td>
			<td bgcolor="#F5F5F5">47</td>
		</tr>

		<tr height="50">
			<td align=center bgcolor="#E0E0E0"><b>THU</b></td>
		    <td bgcolor="#F5F5F5">19</td>
		    <td bgcolor="#F5F5F5">20</td>
		    <td bgcolor="#F5F5F5">21</td>
		    <td bgcolor="#F5F5F5">22</td>
		    <td bgcolor="#F5F5F5">23</td>
		    <td bgcolor="#F5F5F5">49</td>
			<td bgcolor="#F5F5F5">50</td>
			<td bgcolor="#F5F5F5">51</td>
			<td bgcolor="#F5F5F5">52</td>
			<td bgcolor="#F5F5F5">53</td>
		</tr>

		<tr height="50">
		    <td align=center bgcolor="#E0E0E0"><b>FRI</b></td>
		  	<td bgcolor="#F5F5F5">25</td>
		    <td bgcolor="#F5F5F5">26</td>
		    <td bgcolor="#F5F5F5">27</td>
		    <td bgcolor="#F5F5F5">28</td>
		    <td bgcolor="#F5F5F5">29</td>
		    <td bgcolor="#F5F5F5">55</td>
			<td bgcolor="#F5F5F5">56</td>
			<td bgcolor="#F5F5F5">57</td>
			<td bgcolor="#F5F5F5">58</td>
			<td bgcolor="#F5F5F5">59</td>
		</tr>

		</table>
