<% include header.ejs %>
<body>
<div class="container">
	<div class="page-header text-center">
		<h1></span>Congratulations!!</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="container">
				<h3><span class="fa fa-user"></span>  Registered</h3>
					<p>
						<h2>Thank you! Your Club/Chapter is successfully registered.Please verify your account by contacting our moderator.</h2>
						You can't access your account unless it's verified.
						<h3>Once your Account is verified you will be provided with a login ID and a link to get your members' timetable data.</h3>
						<h4>Mail To: <a href="mailto:freeslotvit@gmail.com">freeslotvit@gmail.com</a> to Verify.</h4>
						<strong>Your Email</strong>: <%= user.local.email %><br>
						<strong>Club/Chapter Name</strong>: <%= user.local.club %><br>
						<strong>Club/Chapter's Admin Name</strong>: <%= user.local.name %><br>
						<strong>Account Verified?</strong>: <%= user.local.verified %>.
					</p>
			</div>
	</div>
</div>
<% include footer.ejs %>
</body>
</html>
