<% include header.ejs %>
<body id="admin">
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Hello VITian!!</h1>
    <h3>Enter your register number.</h3>
    <form id="Form" method="post">
        <div class="form-group">
            <label>Register Number</label>
            <input type="text" id="regno" class="form-control" name="regno">
        </div>
        <button type="submit"  class="btn btn-warning btn-lg">Search</button>
    </form>
    <hr>
</div>
</div>
<% include footer.ejs %>
</body>
</html>
