<% include header.ejs %>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/superuser/home">FreeSlot</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/superuser/home">Home</a></li>
          <li><a href="/superuser/verify">Verify</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/superuser/change-password">Change Password</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/superlogout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="container">
	<div class="page-header text-center">
		<h1><strong>Harshit's</strong> Panel</h1>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="well">
					<div class="modal-body row">
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <form id="changepassForm" method="post">
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control" name="current" required>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input id="new" type="password" class="form-control" name="new" required>
                </div>
                <div class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control" name="confirm" required>
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Change  Password</button>
            </form>
					</div>
			</div>
		</div>
	</div>
  <script type="text/javascript">


  </script>
	<% include footer.ejs %>
</body>
</html>
