<table class="TimeTable" cellspacing=0 cellpadding=2 border="1" width="100%"  bordercolor="black">
		<tr align=center>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>THEORY HOURS</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>08:00AM<br>to<br>08:50AM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>09:00AM<br>to<br>09:50AM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>10:00AM<br>to<br>10:50AM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>11:00AM<br>to<br>11:50AM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>12:00AM<br>to<br>12:50PM</b></td>
		    <td width="10" rowspan="8" bgcolor="#E0E0E0"><b>L<br>U<br>N<br>C<br>H</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>02:00PM<br>to<br>02:50PM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>03:00PM<br>to<br>03:50PM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>04:00PM<br>to<br>04:50PM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>05:00PM<br>to<br>05:50PM</b></td>
		    <td width="60" bgcolor="#E0E0E0" height="50"><b>06:00PM<br>to<br>06:50PM</b></td>
		</tr>

		<tr height="50">
		  <td align=center bgcolor="#E0E0E0"><b>SJT</b></td>
		  <td id="1" value="1" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="2" value="2" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="3" value="3" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="4" value="4" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="5" value="5" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="31" value="31" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="32" value="32" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="33" value="33" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="34" value="34" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="35" value="35" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		</tr>

		<tr height="50">
		  <td align=center bgcolor="#E0E0E0"><b>TT</b></td>
		  <td id="7" value="1" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="8" value="2" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="9" value="3" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="10" value="4" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="11" value="5" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="37" value="31" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="38" value="32" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="39" value="33" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="40" value="34" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="41" value="35" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		</tr>

		<tr height="50">
		  <td id="" align=center bgcolor="#E0E0E0"><b>SMV</b></td>
		  <td id="13" value="1" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="14" value="2" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="15" value="3" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="16" value="4" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="17" value="5" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="43" value="31" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="44" value="32" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="45" value="33" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="46" value="34" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="47" value="35" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		</tr>

		<tr height="50">
			<td align=center bgcolor="#E0E0E0"><b>MB</b></td>
		  <td id="19" value="1" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="20" value="2" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="21" value="3" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="22" value="4" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="23" value="5" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="49" value="31" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="50" value="32" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="51" value="33" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="52" value="34" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="53" value="35" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		</tr>

		<tr height="50">
		  <td align=center bgcolor="#E0E0E0"><b>GDN</b></td>
		  <td id="25" value="1" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="26" value="2" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="27" value="3" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="28" value="4" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="29" value="5" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		  <td id="55" value="31" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="56" value="32" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="57" value="33" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="58" value="34" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
			<td id="59" value="35" onclick="FindFree(this.id)" bgcolor="#F5F5F5"></td>
		</tr>

		</table>
