<div class="container visible-sm-inline visible-xs-inline" id="DisTT">
    <div class="row">
        <div class="TimeTable1">
            <table cellspacing=0 cellpadding=2 border="1" width="100%" bordercolor="black">
                <tr align=center>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>THEORY HOURS</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>08:00AM<br>to<br>08:50AM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>09:00AM<br>to<br>09:50AM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>10:00AM<br>to<br>10:50AM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>11:00AM<br>to<br>11:50AM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>12:00AM<br>to<br>12:50PM</b></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Monday</b></td>
                    <td value="1" bgcolor="#A9A7B0"><input id="1" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="2" bgcolor="#A9A7B0"><input id="2" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="3" bgcolor="#A9A7B0"><input id="3" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="4" bgcolor="#A9A7B0"><input id="4" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="5" bgcolor="#A9A7B0"><input id="5" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Tuesday</b></td>
                    <td value="7" bgcolor="#A9A7B0"><input id="7" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="8" bgcolor="#A9A7B0"><input id="8" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="9" bgcolor="#A9A7B0"><input id="9" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="10" bgcolor="#A9A7B0"><input id="10" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="11" bgcolor="#A9A7B0"><input id="11" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Wednesday</b></td>
                    <td value="13" bgcolor="#A9A7B0"><input id="13" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="14" bgcolor="#A9A7B0"><input id="14" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="15" bgcolor="#A9A7B0"><input id="15" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="16" bgcolor="#A9A7B0"><input id="16" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="17" bgcolor="#A9A7B0"><input id="17" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Thursday</b></td>
                    <td value="19" bgcolor="#A9A7B0"><input id="19" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="20" bgcolor="#A9A7B0"><input id="20" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="21" bgcolor="#A9A7B0"><input id="21" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="22" bgcolor="#A9A7B0"><input id="22" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="23" bgcolor="#A9A7B0"><input id="23" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Friday</b></td>
                    <td value="25" bgcolor="#A9A7B0"><input id="25" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="26" bgcolor="#A9A7B0"><input id="26" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="27" bgcolor="#A9A7B0"><input id="27" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="28" bgcolor="#A9A7B0"><input id="28" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="29" bgcolor="#A9A7B0"><input id="29" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
            </table>
        </div>

        <div class="TimeTable2">
            <table cellspacing=0 cellpadding=2 border="1" width="100%" bordercolor="black">
                <tr align=center>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>THEORY HOURS</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>02:00PM<br>to<br>02:50PM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>03:00PM<br>to<br>03:50PM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>04:00PM<br>to<br>04:50PM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>05:00PM<br>to<br>05:50PM</b></td>
                    <td width="60" bgcolor="#E0E0E0" height="50"><b>06:00PM<br>to<br>06:50PM</b></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Monday</b></td>
                    <td value="31" bgcolor="#A9A7B0"><input id="31" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="32" bgcolor="#A9A7B0"><input id="32" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="33" bgcolor="#A9A7B0"><input id="33" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="34" bgcolor="#A9A7B0"><input id="34" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="35" bgcolor="#A9A7B0"><input id="35" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Tuesday</b></td>
                    <td value="31" bgcolor="#A9A7B0"><input id="37" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="32" bgcolor="#A9A7B0"><input id="38" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="33" bgcolor="#A9A7B0"><input id="39" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="34" bgcolor="#A9A7B0"><input id="40" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="35" bgcolor="#A9A7B0"><input id="41" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Wednesday</b></td>
                    <td value="31" bgcolor="#A9A7B0"><input id="43" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="32" bgcolor="#A9A7B0"><input id="44" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="33" bgcolor="#A9A7B0"><input id="45" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="34" bgcolor="#A9A7B0"><input id="46" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="35" bgcolor="#A9A7B0"><input id="47" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Thursday</b></td>
                    <td value="31" bgcolor="#A9A7B0"><input id="49" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="32" bgcolor="#A9A7B0"><input id="50" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="33" bgcolor="#A9A7B0"><input id="51" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="34" bgcolor="#A9A7B0"><input id="52" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="35" bgcolor="#A9A7B0"><input id="53" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
                <tr height="50">
                    <td align=center bgcolor="#E0E0E0"><b>Friday</b></td>
                    <td value="31" bgcolor="#A9A7B0"><input id="55" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="32" bgcolor="#A9A7B0"><input id="56" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="33" bgcolor="#A9A7B0"><input id="57" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="34" bgcolor="#A9A7B0"><input id="58" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                    <td value="35" bgcolor="#A9A7B0"><input id="59" type="checkbox" onclick="handleChange(this);" name="name" value=""></td>
                </tr>
            </table>
        </div>
    </div>
</div>
