<% include header.ejs %>
<body id="admin">
  <div class="container">
    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span><p class="alert alert-danger"> Thank You <% if (name.length && registerNo.length > 0) { %>
        <%= name %>!!</p> Your TimeTable is updated.
        <% } %></h1>
    </div>
  </div>
</body>
<% include footer.ejs %>
</html>
