<% include header.ejs %>
<body id="admin">
  <div class="container text-center">
    <div class="jumbotron text-center">
      <h2><span class="fa fa-lock"></span><p class="alert alert-danger"> Thank You <% if (name.length > 0 && registerNo.length > 0) { %>
        <%= name %>!!</p> Your TimeTable is updated.</h2>
        <h4>Please confirm with the below timetable. If there is any mistake then please update again.</h4>
        <% } %>
    </div>
    <% include DisplayTimetable.ejs %>
  </div>
</body>
<script type="text/javascript">

var slots = [<%= slots %>];
window.onload = function(next) {
  for(i = 0; i < slots.length; i++) {
    $('#' + slots[i]).css('background-color', "white").empty().append("Free");
  }
};
</script>
<% include footer.ejs %>
</html>
